<?xml version="1.0"?>

<!--
Set git to ignore changes to this file:
git update-index assume-unchanged <filepath>
-->

<appSettings>
    <add key="FtpHost" value="{REPLACE-ME}.ftp.azurewebsites.windows.net"/>
    <add key="FtpUserName" value=""/>
    <add key="FtpPassword" value="" />
    <add key="FtpWebServerLogPath" value="/LogFiles/http/RawLogs/" />
</appSettings>
