<?xml version="1.0"?>

<!--
Set git to ignore changes to this file:
git update-index assume-unchanged <filepath>
-->

<connectionStrings>
    <add name="AzureLogSqlConnection" providerName="System.Data.SqlClient" connectionString="Server=.;Database=azurelogs;Integrated Security=SSPI;Connection Timeout=30;" />
</connectionStrings>
